# MongoDB connection string (use MongoDB Atlas)
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.terbebv.mongodb.net/

# Server port
PORT=4000

# JWT secret (optional, used later)
JWT_SECRET=change_this
