# MongoDB connection string (use MongoDB Atlas)
MONGODB_URI=mongodb+srv://yaredabebe0101_db_user:805SWt23p0bPR5B4@cluster0.terbebv.mongodb.net/

# Server port
PORT=4000

# JWT secret (optional, used later)
JWT_SECRET=change_this
