# Postgres connection string for Prisma (example)
# Replace with your DATABASE_URL (postgres://user:password@host:port/dbname)
DATABASE_URL=postgresql://user:password@localhost:5432/kiya_pos

CLOUDINARY_API_SECRET=""

CLOUDINARY_API_KEY=""   

CLOUDINARY_CLOUD_NAME=""   


# Server port
PORT=4000

# JWT secret (optional, used later)
JWT_SECRET=change_this
# Twilio (for SMS sending)
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=+1234567890
